<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sp1.tarea2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="com.sp1.tarea2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.sp1.tarea2.DetalleTiendaActivity"
            android:label="@string/title_activity_detalle_tienda"
            android:parentActivityName="com.sp1.tarea2.MainActivity" >
        </activity>
         <activity
            android:name="com.sp1.tarea2.TiendaImagenActivity"
            android:label="@string/title_activity_detalle_tienda"
            android:parentActivityName="com.sp1.tarea2.DetalleTiendaActivity" >
        </activity>
    </application>

</manifest>
